@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  --color-acento: #FFC01D;;
  --color-acento-claro: #ee613033;
  --color-texto: white;
  --exito: #8adba1;
  --color: #9176FF;
  --bg-color: #fff;
  --font-about: 'Poppins', sans-serif;
  --exito: #3ab65c;
  --error: #bf333b;
  --info: #1898c0;
  --warning: #bc8c12;
  --exito-hover: #2d8a46;
  --error-hover: #962a31;
  --info-hover: #147fa0;
  --warning-hover: #9b7512;
}

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #11111B;
}

.navbar{
  font-family: 'Oxanium', sans-serif;
}

header {
  background-color: #212529; 
}

.cantidad{
  color:white;
}


h3, p{
  margin: 6px 0;
  color: white;
}

h1{
  text-align: center;
}

a{
  text-decoration: none;
  color: var(--color-texto)
}

a:hover:not(#cart){
  color: var(--color-acento);
}

button{
  background-color: var(--color-acento);
  color: white;
  padding: 5px 10px;
  border: unset;
  border-radius: 5px;
  cursor: pointer;
}

header nav{
  display: flex;
  justify-content: space-between;
  margin: 0 35px;
}

header .navbar-nav{
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

#cuenta-carrito{
  background-color: var(--color-acento);
  border-radius: 100%;
  display: inline-block;
  width: 20px;
  line-height: 20px;
  aspect-ratio: 1;
  text-align: center;
  position: absolute;
  margin-left: 3px;
  color: #000;
}

#logo{
  height: 68px;
}

#login{
  margin-right: 8px;
}

header nav img{
  height: 25px;
}

footer{
  margin-top: auto;
  text-align: center;
  padding: 7px;
  background-color: #212529; 
  color: #888;
}

.escondido{
  display: none;
}